#container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap:10px;
  padding: 15px;
}



header {
  font-size: 1.5em;
}

#navbar {
  position: fixed;
  background-color: white;
  opacity: 1;
  z-index: 1;
}

#navbar header {
  text-align: center;
  font-size: 30px;
  border: 2px solid black;
}

#navbar ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 15px;
}

#main-doc {
  position: absolute;
  margin-left: 320px;
  z-index: 0;
}

@media (max-width: 600px) {
  #container {
    grid-template-columns: auto;
    grid-template-rows: 40px auto;
  }
  #navbar {
    top:0px;
  }
  #navbar ul {
    flex-direction: row;
  }
  #main-doc {
    margin-left: 0px;
    margin-top: 130px;
  }
}